html, body {
	font-family: "Cambria" , serif;
	background-color: #000A7F;
	background-image: -moz-linear-gradient(top, #000A7F, #000A53);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #000A7F),color-stop(1, #000A53));
	background-image: -webkit-linear-gradient(#000A7F, #000A53);
	background-image: linear-gradient(top, #000A7F, #000A53);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#000A7F', EndColorStr='#000A53');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#000A7F', EndColorStr='#000A53')";
	font-size: 16px;
}
.PresentationInner > div.Slide {
	background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));
	background-color: #eee;
	background: -moz-linear-gradient(bottom, #bbd, #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#bbbbdd', EndColorStr='#ffffff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#bbbbdd', EndColorStr='#ffffff')";
	border-top-right-radius: 56px;
	-moz-border-radius-topright: 56px;
	-webkit-border-top-right-radius: 56px;
	border-top-left-radius: 56px;
	-moz-border-radius-topleft: 56px;
	-webkit-border-top-left-radius: 56px;
	-moz-box-shadow: 0px 0px 14px #88f;
	-webkit-box-shadow: 0px 0px 14px #88f;
	box-shadow: 0px 0px 18px #fff;
}
.PresentationInner > div.Slide h1 {
	font-size: 40px;
	height: 47px;
	text-align: center;
	color: White;
	text-shadow: 1px 1px 3px #000;
	margin: -10px -10px 13px -10px;
	border-top-right-radius: 56px;
	-moz-border-radius-topright: 56px;
	-webkit-border-top-right-radius: 56px;
	border-top-left-radius: 56px;
	-moz-border-radius-topleft: 56px;
	-webkit-border-top-left-radius: 56px;
	padding: 2px 0 6px;
	background: #A6A6FF; /* Use a pre-blended color for IE */
	background: rgba(128,128,255, .7);
	border-bottom: solid 1px #FFA33A;
	box-shadow: 0px 3px 4px #999;
	-moz-box-shadow: 0px 3px 4px #999;
	-webkit-box-shadow: 0 3px 4px #999;
}
p, .Item {
	margin: 0 0 1.5em 0;
}

.Slide ul {
	margin: 0;
}
.Clear {
	clear: both;
}

a {
	color: blue !important;
}
.Item .Item {
	margin: 0;
}
.Smaller {
	font-size: 22px;
}
.SectionHeader {
	width: 100%;
	height: 1em;
	float: none;
	position: absolute;
	text-align: center;
	margin-top: -.5em;
	top: 45%;
	font-size: 120px;
	text-shadow: 1px 1px 4px #666;
}
